a,
input,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
	-webkit-appearance: none;
	border-radius: 0;
}
body {
	margin: 0;
	-webkit-user-select: none;
}
body * {
	/*-webkit-user-select: none;*/
	font-family: Helvetica;
}
body {
	-webkit-text-size-adjust: 100%;
}
h1 {
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	vertical-align: top;
}
strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
strong{
	font-weight: normal;
}
/* 通用样式 */
*,
::before,
::after{
	font-size: 12px;

	/*  */
	margin: 0;
	padding: 0;

	/* 点击高亮效果 *//* 手指点击 清除默认的 高亮效果 透明 */
	-webkit-tap-highlight-color: transparent ;

	/* 盒子模型 */
	/* 样式输入完毕 在后面tab */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	/* 统一设置文字  sans-serif 移动端 的默认字体 */
	font-family: '微软雅黑',sans-serif;
}

/* input标签 去掉默认样式 */
input,select{
	border: none;
	-webkit-appearance: none;
	outline: none;/*去除点击之后的蓝色边框*/
}

/* a标签的下划线 */
a{
	text-decoration: none;
}

/* 去掉小圆点 */
ol,ul{
	list-style: none;
}

/* 清除浮动 */
.f_l{
	float: left;
}
.f_r{
	float: right;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after{
	content:'';
	display: block;
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clear{
	clear:both;
}
/* 边框的 通用样式 */
.b_l{
	border-left: 1px solid #eee;
}
.b_r{
	border-right: 1px solid #eee;
}
.b_t{
	border-top: 1px solid #eee;
}
.b_b{
	border-bottom: 1px solid #eee;
}
.padding0{
	padding: 0 !important;
}
