@import "base.css";
@import "public";

@title: 120/@r;
@in_height: 89/@r;
@in_width_lar:600/@r;
@in_width_mid:400/@r;
@in_width_sma:638/@r;
@input-font: 32/@r;
@pa-lr: 50/@r;
@group_height:90/@r;
body{
  background-color: #fafafa;
}
.m_form {
  /*  ::-webkit-input-placeholder { !* WebKit browsers *!
      font-size:26/@r;
    }
    :-moz-placeholder { !* Mozilla Firefox 4 to 18 *!
      font-size:26/@r;
    }
    ::-moz-placeholder { !* Mozilla Firefox 19+ *!
      font-size:26/@r;
    }
    :-ms-input-placeholder { !* Internet Explorer 10+ *!
      font-size:26/@r;
    }*/
  margin-top: 30/@r;
  header {
    text-align: center;
    font-size: 32/@r;
    color: black;
    text-align: center;
    height: @title;
    line-height: @title;
  }
  .input_container{
    padding: 0 30/@r;
    background-color: white;

  }
  .button{
    position: relative;
    display: block;
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid;
    outline: none;

  }
  .btn_default {
    color: black;
    background-color: white;
  }
  .btn_default:not(.weui-btn_disabled):visited {
    color: #000000;
  }
  .btn_default:not(.weui-btn_disabled):active {
    color: rgba(0, 0, 0, 0.6);
    background-color: #DEDEDE;
  }
  .error_tip{
    color: #ea592e;
    background-color: #fae3c6;
    font-size: 22/@r;
    height: 50/@r;
    line-height: 50/@r;
    text-align: center;
    display: none;
  }
  .form_group {

    &:last-child{
      border: none;
    }
    width: 100%;
    border-bottom: 1px solid #dddddd;
    height: @group_height;
    padding: 28/@r 0;
    .icon_com{
      background-size: contain;
      background-repeat: no-repeat;
      width: 22/@r;
      height: 30/@r;
      line-height: 30/@r;
      display: inline-block;
      vertical-align: middle;
    }
    .icon_phone{
      background-image: url(../img/form/phone.png);
      //height: 35/@r;
      //margin-right: 30/@r;
    }
    .icon_code{
      background-image: url(../img/form/code.png);
      //margin-right: 30/@r;
    }
    .icon_pass{
      background-image: url(../img/form/pass.png);
      //margin-right: 30/@r;
    }
    .m_input{
      font-size: 26/@r;
      /*      height: @in_height;
            line-height: @in_height;*/
      padding-left: 20/@r;
      /*    border: 1px solid;*/
      /*      padding-top:10/@r ;
            padding-bottom:10/@r ;*/
      background: #fff;
      display: inline-block;
      font-weight: 100;
      padding-top: 2/@r;
      //border: 1px solid;
    }
    .m_input_large{
      width: @in_width_lar;
    }
    .m_input_mid{
      width: @in_width_mid;
      //border-right: 1px solid;
    }
    .get_code_c{
      height: @in_height;
      float: right;
      line-height: @in_height;
    }
    .get_code {
      font-size: 26/@r;
      color: #ea592e;
      background-color: white;
      padding-left: 30/@r;
      border-left: 1px #dddddd solid;
      display: inline-block;
      float: right;
    }

    p {
      text-align: center;
      strong {
        color: red;
      }
    }
    label.error{
      color: red;
    }
  }
  .pass_login {
    display: table;
    width: 100%;
    a{
      color: #ea592e;
      float: right;
      margin:30/@r 30/@r 0 0;
      line-height: 1;
      font-size: 24/@r;
      i{
        background: url("../img/form/arrow.png") no-repeat 0 0;
        width: 18/@r;
        height: 15/@r;
        background-size: contain;
        display: inline-block;
        margin-right: 7/@r;
      }
    }
  }
  .agree_agreement{
    margin-top: 30/@r;
    position: relative;
    padding-right: 30/@r;
    //display: table;
    width: 100%;
    //padding: 0 30/@r;
    .input_check{
      float: right;
      position: relative;
      margin-right: 10/@r;
      margin-top: 2/@r;
    }
    .chose{
      background: url("../img/form/chose.png") no-repeat 0 0;
      width: 22/@r;
      height: 22/@r;
      background-size: contain;

    }
    input{
       position: absolute;
      width: 22/@r;
      height: 22/@r;
 /*     border: 1px solid;
      width: 50px;
      height: 50px;*/
      &:checked + .chose{
        background-image: url("../img/form/chose_ac.png");
        width: 22/@r;
        height: 22/@r;
        background-size: contain;
      }
    }

    p{
      color: #999999;
      font-size: 24/@r;
      float: right;
      line-height: 1;
      span{
        color: #ea592e;
      }
    }
  }
  .submit_c{
    margin-top: 80/@r;

    padding: 0 30/@r;
    .submit {
      &:active{
        background-color: #d84a1f;
      }
      &:visited{
        background-color: #d84a1f;
      }
      height: @in_height;
      line-height: @in_height;
      font-size: @input-font;
      width: 100%;
      background-color: #ea592e;
      border: none;
      border-radius: 45/@r;
      color: #FFFFFF;
      outline: none;

    }
  }

  footer {
    padding: 0 @pa-lr;
    margin-top: 40/@r;
    p {
      text-align: center;
      font-size: 24/@r;
      span{
        color: #aaaaaa;
        font-size: 24/@r;
      }
      a{
        color: #ea592e;
        font-size: 24/@r;
      }
      /*      span {
              width: 300/@r;
              height: 100/@r/2;
              border-bottom: 1px solid;
              display: inline-block;
              float: left;

            }
            strong {
              float: left;
              font-size: 200/@r;
              color: rgb(163, 163, 163);
            }*/
    }
    .to_next {
      text-align: center;
    }

  }

}
