body {
  overflow: auto;
}
.margin-right {
  margin-right: 0.75rem;
}
.margin-bottom {
  margin-bottom: 0.75rem;
}
header {
  height: 2.5rem;
  width: 100%;
  background: blue;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.main {
  margin-top: 2.5rem;
}
.main .banner {
  height: 10rem;
  background: #555555;
}
.main .products {
  padding: 0.75rem;
  display: -webkit-flex;
  height: 12.5rem;
}
.main .products .products-section {
  flex: 1;
  background: pink;
  display: -webkit-flex;
  flex-direction: column;
}
.main .products .products-section .products-category {
  flex: 1;
  background: palegreen;
}
.main .application {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid #7D797D;
  margin: 0 0.75rem;
  text-align: center;
  line-height: 2.5rem;
}
.main .application a {
  display: block;
  width: 100%;
  height: 100%;
  color: #555555;
  font-size: 0.95rem;
}
footer {
  height: 7.5rem;
}
footer .about {
  height: 1.25rem;
  text-align: center;
}
footer .about a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #7D797D;
}
footer .info {
  text-align: center;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
footer .info span {
  font-size: 0.75rem;
}
footer .versions {
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.25rem;
}
footer .versions a {
  color: #7D797D;
  margin: 0 0.5rem;
  font-size: 0.75rem;
}
footer .versions span {
  font-size: 0.75rem;
  position: relative;
  padding-left: 1.875rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
footer .versions span i {
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 1.625rem;
  height: 1.5rem;
  background: url("../img/1.jpg");
}
