body {
  background-color: #ccc;
}
.login-form {
  padding: 0.75rem 1.25rem;
}
.login-form input {
  height: 2rem;
  line-height: 2rem;
  border: 1px solid #888888;
  border-radius: 0.5rem;
  padding-left: 0.25rem;
  width: 100%;
  background: #fff;
}
.login-form .checkBox {
  position: relative;
}
.login-form .checkBox #checkCode {
  width: 14.5rem;
}
.login-form .checkBox #checkImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  height: 2.5rem;
}
.login-form .checkBox #captcha {
  width: 13.75rem;
}
.login-form .checkBox #getCaptcha {
  position: absolute;
  right: 0;
  top: 0;
  width: 6.25rem;
}
.login-form div {
  text-align: center;
}
.login-form p {
  height: 1.25rem;
}
.login-form #check {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0;
  vertical-align: top;
}
.login-form #check .checked {
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/check.jpg) no-repeat;
}
.login-form .service {
  text-align: center;
  margin-top: 0.25rem;
}
