body {
  background: #CCCCCC;
}
#header {
  background: #fff;
}
.loan-products .header {
  height: 2.5rem;
  background-color: #CCCCCC;
  line-height: 2.5rem;
  padding-left: 0.5rem;
}
.loan-products #wrapper {
  position: absolute;
  z-index: 1;
  top: 5.125rem;
  bottom: 6.45rem;
  left: 0;
  width: 100%;
  overflow: auto;
}
.loan-products #wrapper .scroller {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
}
.loan-products #wrapper .scroller #list {
  background: #fff;
  position: relative;
  width: 100%;
}
.loan-products #wrapper .scroller #list li {
  position: relative;
  padding-bottom: 0.25rem;
}
.loan-products #wrapper .scroller #list li .productsImg {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}
.loan-products #wrapper .scroller #list li .productsContent {
  padding: 0.75rem 1.25rem 0 3.75rem;
}
.loan-products #wrapper .scroller #list li .productsContent .productsContentTime span {
  float: left;
}
.loan-products #wrapper .scroller #list li .productsContent .productsContentTime strong {
  float: right;
}
.loan-products #wrapper .scroller #list li .productsContent .productsContentMortgage span {
  float: left;
}
.loan-products #wrapper .scroller #list li .productsContent .productsContentMortgage strong {
  float: right;
}
.loan-products #wrapper .scroller #list li::after {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #BBBBBB;
}
.loan-products #wrapper .scroller #list #pullUp {
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
  color: #888;
}
.loan-products #wrapper .scroller #list #pullUp .pullUpIcon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(pull-icon@2x.png) 0 0 no-repeat;
  -webkit-background-size: 40px 80px;
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
.loan-products #wrapper .scroller #list #pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
