#header {
  height: 2.5rem;
  font-size: 0.35rem;
  line-height: 2.5rem;
  width: 100%;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
#footer {
  background-color: #fff;
  font-size: 0.4rem;
}
#footer .about {
  width: 5rem;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
}
#footer .about a {
  display: block;
  width: 100%;
  height: 100%;
  color: #7d797d;
}
#footer .company {
  padding: 0 0.875rem 1rem;
}
#footer .company span:nth-of-type(1) {
  margin-right: 0.875rem;
}
#footer .versions {
  text-align: center;
  position: relative;
}
#footer .versions a {
  color: #050505;
  padding: 0.25rem;
}
#footer .versions .tel {
  padding-right: 0.325rem;
}
#footer .versions .mac {
  padding-left: 0.325rem;
}
#footer .versions .logo {
  display: inline-block;
}
