@r:50rem;

//header
.public_header{
  width:100%;
  height:88/@r;
  background: #fff;
  position: relative;
  line-height:88/@r;
  .logo{
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    background: url("../img/logo.png") no-repeat;
    background-size: 152/@r 46/@r;
    text-indent: -2000/@r;
    width:152/@r;
    height:46/@r;
    line-height:46/@r;
    text-align: center;
  }
  //点击
  #login{
    position: absolute;
    right:0/@r;
    top:0/@r;
    font-size: 32/@r;
    color: #444;
    padding: 0 30/@r;
  }
}
//footer
.public_footer{
  position: relative;
  height: 146/@r;
  width:100%;
  text-align: center;
  background: #fff;
  font-size: 22/@r;
  .public_footer_wrapper{
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    width:100%;
    //关于我们
    .about{
        font-size: 22/@r;
        color: #999;
        margin-bottom: 12/@r;
    }
    .footer_info{
      margin-bottom: 12/@r;
      color: #999;
        .footer_info_company{
          margin-right: 64/@r;
        }
    }
    .footer_versions{
      font-size:22/@r;
      height:30/@r;
      line-height:30/@r;
      .footer_tel{
        display: inline-block;
        font-size: 20/@r;
        line-height: 30/@r;
        color: #555;
        padding-right: 15/@r ;
      }
      .footer_mac{
        display: inline-block;
        font-size: 20/@r;
        color: #555;
        padding-left: 15/@r;
        line-height: 30/@r;

      }
      .footer_logo{
        display: inline-block;
        margin-left: 60/@r;
        width: 104/@r;
        height:30/@r;
        text-indent: -2000/@r;
        background: url("../img/footer_logo.png") no-repeat;
        background-size: 104/@r 30/@r;

      }
    }
  }
}

//表单样式的头部
.com_header{
  font-size: 34/@r;
  color: #444444;
  text-align: center;
}