<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!--全屏模式，隐藏地址栏-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--定制iphone中safari顶端的状态条样式-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!--关闭页面自动探测电话号码功能-->
    <meta http-equiv="x-rim-auto-match" content="none">
    <!--禁止识别电话号码和邮箱-->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--优先使用ie最新版和chrome-->
    <meta http-equiv="X-UA-compatible" content="IE=edge chrome=1">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!--页面关键字-->
    <meta content="" name="爱房金，贷款">
    <!--页面描述-->
    <meta content="" name="爱房金，贷款">
    <title>产品详情</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet/less" type="text/css" href="css/public.less">
    <link rel="stylesheet/less" type="text/css" href="css/productList.less">
    <link rel="stylesheet/less" type="text/css" href="css/productDetails.less">
    <script src="js/less.js"></script>
</head>
<body>
    <header class="public_header">
        <a href="javascript:;" class="return"></a>
        <span class="productHeader">信用贷产品</span>
    </header>
    <div class="productDetails_main" id="product-details" v-model="product">
        <div class="productDetails_info">
            <ul id="productDetails-info-list" class="productDetails_info_list clearfix">
                <li>
                    <i class="productDetails_icon rate"></i><span class="productDetails_item">最低<strong class="productDetails_rate"><em v-text="product.annualized_interest"></em>%</strong>/年</span>
                </li>
                <li>
                    <i class="productDetails_icon day"></i><span class="productDetails_item"><strong  class="productDetails_rate"><em v-text="product.lending_time"></em>天</strong>放款</span>
                </li>
                <li>
                    <i class="productDetails_icon loan"></i><span class="productDetails_item">最高可达<strong v-text="product.maximum_amount"></strong>万</span>
                </li>
                <li>
                    <i class="productDetails_icon year"></i><span class="productDetails_item"><strong class="start" v-text="product.product_term_1"></strong>~<strong class="end" v-text="product.product_term_2"></strong>年</span>
                </li>
                <li>
                    <i class="productDetails_icon mortgage"></i>
                    <span class="productDetails_item">
                        <strong v-if="product.whether_mortgage"></strong>
                        <strong v-else>无</strong>需抵押</span>
                </li>
                <li>
                    <i class="productDetails_icon people"></i><span class="productDetails_item"><strong v-text="product.crowd_demand"></strong></span>
                </li>
                <li class="productDetails_repayment">
                    <i class="productDetails_icon methods"></i>
                    <span class="productDetails_item">
                        <!--<i class="productDetails_average_capital_plus_interest">等额本息</i>-->
                        <strong class="productDetails_average_capital" v-text="product.repayment_method"></strong>
                    </span>
                </li>
                <!--<li>
                    <i class="productDetails_icon area"></i><span class="productDetails_item"></span>
                </li>-->
            </ul>
        </div>
        <div class="productDetails_requirement">
            <div class="productDetails_requirement_header">申请条件</div>
            <div class="productDetails_requirement_wapper">
                <ul class="productDetails_requirement_list" id="productDetails-requirements">
                    <li v-text="product.application_conditions"></li>
                </ul>
                <!--<div class="productDetails_requirement_more">
                    <a href="javascript:;" class="productDetails_show_more">查看更多</a>
                </div>-->
                <div class="productDetails_footer_icon">
                    <i></i><span></span>
                </div>
            </div>
        </div>
        <div class="productDetails_requirement mb">
            <div class="productDetails_requirement_header">所需材料</div>
            <div class="productDetails_requirement_wapper">
                <ul class="productDetails_requirement_list" id="productDetails-files">
                    <li v-text="product.materials_required"></li>
                </ul>
                <!--<div class="productDetails_requirement_more">
                    <a href="javascript:;" class="productDetails_show_more">查看更多</a>
                </div>-->
                <div class="productDetails_footer_icon">
                    <i></i><span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="productDetails_apply"><a href="./apply_fir.html">立即申请</a></div>

    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/vue.min.js"></script>
    <script>

               $(function(){
                   //获取url查询字符串里的键值
                   function getRequest(url) {
                       var theRequest = new Object();
                       if (url.indexOf("?") != -1) {
                           var str = url.substr(1);
                           strs = str.split("&");
                           for (var i = 0; i < strs.length; i++) {
                               theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
                           }
                       }
                       return theRequest;
                   }
                   //获取列表页点击的id
                   var id = getRequest(window.location.search).id;
                   var url = "http://192.168.85.245:8080/product/queryProductInfo";
                   //发送ajax请求
                   $.ajax({
                       type:"POST",
                       url:url,
                       data:{ productId:id },
                       dataType:"jsonp",
                       jsonp: 'jsonpcallback',
                       success:function(data){
                           if(data.code === 0){
                               var product = data.data.data;
                               var vm = new Vue({
                                   el: '#product-details',
                                   data: {
                                       product: product
                                   }
                               });
                               vm.$data.product = product;
                           }
                       },
                       error:function(){
                       }
                   });
                   /*//显示更多
                    function getmore(aData){
                    var requirement = aData.requirement;
                    var file = aData.file;
                    showData(requirement,$('#productDetails-requirements'));
                    showData(file,$('#productDetails-files'));
                    function showData(data,context){
                    var html = '';
                    for(var i=0;i<data.length;i++){
                    html += '<li>\
                    <i class="requirement_icon"></i>'+ data[i].message +'\
                    </li>'
                    }
                    context.append(html);
                    }
                    $('.productDetails_show_more').on('click',function () {
                    var node =  $(this).closest('.productDetails_requirement_wapper');
                    node.find('.productDetails_requirement_list').addClass('active');
                    node.find('.productDetails_requirement_more').css('display','none');
                    node.find('.productDetails_footer_icon').show();
                    });
                    }*/

                   //立即申请
                   $('.productDetails_apply > a').on('click',function(){
                       $(this).css('background','#de4c21');
                   });
                   //回退功能
                   Public.init();
                   /*$('.return').on('click',function(){
                       $(this).css('background-image','img/productList/click.png');
                       history.back(-1);
                   })*/
               })

    </script>
</body>
</html>