<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!--全屏模式，隐藏地址栏-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--定制iphone中safari顶端的状态条样式-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!--关闭页面自动探测电话号码功能-->
    <meta http-equiv="x-rim-auto-match" content="none">
    <!--禁止识别电话号码和邮箱-->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!--优先使用ie最新版和chrome-->
    <meta http-equiv="X-UA-compatible" content="IE=edge chrome=1">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!--页面关键字-->
    <meta content="" name="爱房金，贷款">
    <!--页面描述-->
    <meta content="" name="爱房金，贷款">
    <title>产品列表</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet/less" type="text/css" href="css/public.less">
    <link rel="stylesheet/less" type="text/css" href="css/productList.less">
    <script src="js/less.js"></script>
</head>
<body>
    <header class="public_header">
        <a href="javascript:;" class="return"></a>
        <span class="productHeader"><i></i>贷产品</span>
    </header>
    <div class="search_num">为您搜索贷款<span id="search_numble"></span>个</div>
    <ul class="product_list" id="product-list">
        <li v-for="item in items">
            <a :href="[url + item.id]">
                <div class="product_img"><img :src="[img + item.channel_source +'.png']" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span v-text="item.product_bank"></span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term"><strong v-text="item.lending_time"  class="product_loan_term"></strong>天放款</i>
                        <span class="product_rate">
                            <strong class="product_rate_style"><em v-text="item.annualized_interest"  class="product_rate_style"></em>%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_mortgage_without" v-if="item.whether_mortgage == 1">无抵押</span>
                        <span class="product_have_mortgage" v-else>有抵押</span>
                        <span class="product_loan_amount">可贷<i v-text="item.maximum_amount"></i>万</span>
                    </p>
                </div>
            </a>

        </li>
        <!--<li>
            <a href="productDetails.html">
                <div class="product_img"><img src="img/productList/1.png" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span>浦发银行</span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term">1天放款</i>
                        <span class="product_rate">
                            <strong>5.5%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_mortgage_without">无抵押</span>
                        <span class="product_loan_amount">可贷<i>30-3000</i>万</span>
                    </p>
                </div>
            </a>

        </li>
        <li>
            <a href="./productDetails.html">
                <div class="product_img"><img src="img/productList/2.png" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span>光大银行</span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term">1天放款</i>
                        <span class="product_rate">
                            <strong>5.8%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_have_mortgage">有抵押</span>
                        <span class="product_loan_amount">可贷<i>30-3000</i>万</span>
                    </p>
                </div>
            </a>

        </li>
        <li>
            <a href="./productDetails.html">
                <div class="product_img"><img src="img/productList/3.png" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span>中信银行</span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term">1天放款</i>
                        <span class="product_rate">
                            <strong>5.5%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_mortgage_without">无抵押</span>
                        <span class="product_loan_amount">可贷<i>30-3000</i>万</span>
                    </p>
                </div>
            </a>

        </li>
        <li>
            <a href="./productDetails.html">
                <div class="product_img"><img src="img/productList/4.png" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span>东亚银行</span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term">1天放款</i>
                        <span class="product_rate">
                            <strong>5.5%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_mortgage_without">无抵押</span>
                        <span class="product_loan_amount">可贷<i>30-3000</i>万</span>
                    </p>
                </div>
            </a>

        </li>
        <li>
            <a href="productDetails.html">
                <div class="product_img"><img src="img/productList/5.png" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span>建设银行</span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term">1天放款</i>
                        <span class="product_rate">
                            <strong>5.5%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_have_mortgage">有抵押</span>
                        <span class="product_loan_amount">可贷<i>30-3000</i>万</span>
                    </p>
                </div>
            </a>

        </li>
        <li>
            <a href="productDetails.html">
                <div class="product_img"><img src="img/productList/6.png" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span>南京银行</span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term">1天放款</i>
                        <span class="product_rate">
                            <strong>5.5%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_mortgage_without">无抵押</span>
                        <span class="product_loan_amount">可贷<i>30-3000</i>万</span>
                    </p>
                </div>
            </a>

        </li>
        <li>
            <a href="productDetails.html">
                <div class="product_img"><img src="img/productList/7.png" alt=""></div>
                <div class="product_info">
                    <p class="product_bank"><span>恒生银行</span><i>万用金</i></p>
                    <p class="product_loan clearfix">
                        <i class="product_loan_term">1天放款</i>
                        <span class="product_rate">
                            <strong>5.5%</strong>/年
                        </span>
                    </p>
                    <p class="product_mortgage_situation clearfix">
                        <span class="product_mortgage_without">无抵押</span>
                        <span class="product_loan_amount">可贷<i>30-3000</i>万</span>
                    </p>
                </div>
            </a>

        </li>-->
    </ul>
    <div class="product_tip">没有更多了</div>
    <!--加载动画-->
    <div id="img_wait"></div>
    <!--<div class="product_footer"></div>-->

    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/spin.js"></script>

    <script>
        $(function(){
            //获取url查询字符串里的键值
            function getRequest(url) {
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = (strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            }
            //获取列表页点击的id
            var id = getRequest(window.location.search).id;
//            console.log(id)
            //根据点击的id显示产品种类
            if(id === '4m'){
                $('.productHeader i').text('经营');
            }else if(id === '5m'){
                $('.productHeader i').text('消费');
            }else if(id === '6m'){
                $('.productHeader i').text('信用');
            }
            var url = "http://192.168.85.245:8080/product/queryProductList";
            var products;
            var vm = new Vue({
                el: '#product-list',
                data: {
                    items: products,
                    url:'./productDetails.html?id=',
                    img:'img/productList/'
                }
            });

            //发送ajax请求
                $.ajax({
                    type:"POST",
                    url:url,
                    data:{ loan : id},
                    dataType:"jsonp",
                    jsonp: 'jsonpcallback',
                    success:function(data) {
                        if(data.code === 0){
                            products = data.data.data;
                            vm.$data.items = products;
                            getNum();
                        }
                    }
                });

            //加载动画参数配置
            var opts = {
                lines: 8,
                length: 0,
                width: 4,
                radius: 4,
                corners: 1,
                rotate: 0,
                direction: 1,
                color: '#444444',
                speed: 1,
                trail: 34,
                shadow: false,
                hwaccel: false,
                className: 'spinner',
                zIndex: 2e9,
                position:'relative'
            };
            var target = document.getElementById('img_wait');
            var spinner = new Spinner(opts).spin(target);
            var page = 1;
            var flag = true;
            var timer = null;
            var load = $('#img_wait');
            $(window).scroll(function(){
                //获取垂直滚动的距离  即当前滚动的地方的窗口顶端到整个页面顶端的距离
                var scrollTop = $(this).scrollTop();
                //整个文档的高度 603
                var scrollHeight = $(document).height();
                //可见区域的大小  480
                var windowHeight = $(this).height();
                //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                if (scrollTop + windowHeight == scrollHeight) {
                    load.show();
                    page++;
                    $.ajax({
                        type:"POST",
                        url:"http://192.168.85.245:8080/product/queryProductList",
                        data:{ loan:id,page:page},
                        dataType:"jsonp",
                        jsonp: 'jsonpcallback',
                        success:function(data){
                            var count = data.data.total;
                            products = data.data.data;
                            vm.$data.items = vm.$data.items.concat(products);
                            getNum();
                            if(page > count){
                                load.hide();
                                $('.product_tip').show();

                            }
                        }
                    });
                               /* var list = $('#product-list');
                                var mortgage;
                                var pledge;
                                for(var i=0;i<moredata.data.length;i++){
                                    var Data = moredata.data[i];
                                    var html = '';
                                    if (Data.whether_mortgage == 1) {
                                        mortgage = 'product_mortgage_without';
                                        pledge= '无';
                                    } else {
                                        mortgage = 'product_have_mortgage';
                                        pledge= '有';
                                    }
                                    html += '<li>\
                                    <a href="productDetails.html">\
                                        <div class="product_img"><img src="img/productList/'+Data.channel_source+'.png" alt=""></div>\
                                        <div class="product_info">\
                                            <p class="product_bank"><span>'+ Data.product_bank +'</span><i>万用金</i></p>\
                                            <p class="product_loan clearfix">\
                                                <i class="product_loan_term">'+ Data.lending_time +'天放款</i>\
                                                <span class="product_rate">\
                                                <strong>'+ Data.annualized_interest +'</strong>/年\
                                                </span>\
                                            </p>\
                                            <p class="product_mortgage_situation clearfix">\
                                                <span class="'+ mortgage +'">' + pledge + '抵押</span>\
                                                <span class="product_loan_amount">可贷<i>'+ Data.maximum_amount +'</i>万</span>\
                                            </p>\
                                        </div>\
                                    </a>\
                                </li>';
                                    list.append(html);*/
                }

            });

            //搜索个数
//            getNum();
            function getNum(){
                var listNum = vm.$data.items.length;
                $('#search_numble').html(listNum);
            }
            //回退功能
            Public.init();
        });
    </script>
</body>
</html>