@import "slick.css";
@import "slick-theme.css";

.slider img {

    width: 100%;
    height: 8.4rem;
}

.slick-dots li button:before {
    content: '.';

}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
    bottom: 0.3rem
}

.slick-dots li {
    /*background: url(../../img/circle.png);*/
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #dfdfdf;
}

.slick-dots li.slick-active {
    background-color: white;
}

.slick-dots li button {
    display: none
}