@import "../base.css";
@r:50rem;
@boder:#eaeaea;
@fontcolor:#444444;
.com_header{
  border-bottom: 1px solid @boder;
}
.tool_container{
  padding: 0 30/@r;
  .row{
    display:flex;
  }
  .col{
    height: 346/@r;
    text-align: center;
    flex: 1;
    display: flex;
    border: 1px solid;
    align-items: center;
    p{
      color: @fontcolor;
      font-size: 30/@r;
      display: inline-block;
    }

  }
}
